* {
  margin: 0;
  padding: 0;
}

.keepNote {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
.empty-state {
  opacity: 0.3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
}
